<style>
{{- range site.Params.includedFonts -}}
  {{- $familyName := .family -}}
  {{- $fontWeight := .weight | default "400" -}}
  {{- $fontStyle := .style | default "normal" -}}
  {{- $fontURL := (printf "/fonts/%s" .name) | relURL -}}
  {{- $ext := (replaceRE "^.*\\." "" .name) -}}

  @font-face {
    font-family: '{{ $familyName }}';
    src: url('{{ $fontURL }}') format('{{ $ext }}');
    font-weight: {{ $fontWeight }};
    font-style: {{ $fontStyle }};
    font-display: swap;
  }

{{ end -}}
</style>
