# WIP: Somehow the renamed files don't get committed.

name: Initialize project
on: create

jobs:
  rename:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    name: Rename project

    steps:
    - uses: actions/checkout@v2

    - name: Find and replace "hugo-template"
      uses: jacobtomlinson/gha-find-replace@master
      with:
        find: hugo-template
        replace: ${{ github.event.repository.name }}

    - name: Commit and push changes
      uses: github-actions-x/commit@v2.8
      with:
        push-branch: main
        commit-message: Initialize project
